/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
tailwindcss
/public/css/
/public/dist/
.tailwindcss-manifest.json
tailwindcss
/public/css/
/public/dist/
.tailwindcss-manifest.json
tailwindcss
/public/css/
/public/dist/
.tailwindcss-manifest.json
tailwindcss
/public/css/
/public/dist/
.tailwindcss-manifest.json
tailwindcss
/public/css/
/public/dist/
.tailwindcss-manifest.json
tailwindcss.exe
/public/css/
/public/dist/
.tailwindcss-manifest.json
tailwindcss.exe
/public/css/
/public/dist/
.tailwindcss-manifest.json
tailwindcss.exe